In [ ]:
#assembling most recent 12 mos of Citi bike riding data into one file

In [1]:
import pandas as pd

In [2]:
df_1= pd.read_csv('smallersample/JC-201905-citibike-tripdata.csv')
df_1.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [3]:
df_2= pd.read_csv('smallersample/JC-201904-citibike-tripdata.csv')
df_2.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,2019-04-01 07:48:04.7540,2019-04-01 07:49:52.3590,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,2019-04-01 12:41:09.6540,2019-04-01 12:49:23.0290,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,2019-04-01 14:27:07.9400,2019-04-01 14:35:40.9370,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,2019-04-01 15:07:38.1510,2019-04-01 15:10:54.6260,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,2019-04-01 16:19:24.6940,2019-04-01 16:27:08.6450,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [4]:
df_3= pd.read_csv('smallersample/JC-201903-citibike-tripdata.csv')
df_3.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,2019-03-01 06:47:08.2110,2019-03-01 06:52:14.7150,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,2019-03-01 07:30:53.0220,2019-03-01 07:32:56.7770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,2019-03-01 08:18:30.4030,2019-03-01 08:23:59.0590,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,2019-03-01 11:04:47.2020,2019-03-01 11:06:22.8130,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,2019-03-01 11:51:29.4170,2019-03-01 11:54:19.2120,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [5]:
df_4= pd.read_csv('smallersample/JC-201902-citibike-tripdata.csv')
df_4.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [6]:
df_5= pd.read_csv('smallersample/JC-201901-citibike-tripdata.csv')
df_5.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [7]:
df_6= pd.read_csv('smallersample/JC-201812-citibike-tripdata.csv')
df_6.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,170,2018-12-01 00:03:53.3860,2018-12-01 00:06:43.7160,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26261,Subscriber,1975,1
1,172,2018-12-01 00:47:13.7340,2018-12-01 00:50:05.8160,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,26175,Subscriber,1988,1
2,247,2018-12-01 00:48:57.6960,2018-12-01 00:53:05.6780,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29255,Subscriber,1990,1
3,406,2018-12-01 01:33:53.6630,2018-12-01 01:40:39.7480,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29275,Subscriber,1995,1
4,354,2018-12-01 06:26:52.5120,2018-12-01 06:32:46.5170,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29658,Subscriber,1976,1

In [8]:
df_7= pd.read_csv('smallersample/JC-201811-citibike-tripdata.csv')
df_7.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1188,2018-11-01 06:32:27.5190,2018-11-01 06:52:15.9140,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,33662,Customer,1969,0
1,278,2018-11-01 07:14:31.8680,2018-11-01 07:19:10.2610,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29254,Subscriber,1963,1
2,115,2018-11-01 07:33:17.1920,2018-11-01 07:35:12.2830,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,33607,Subscriber,1966,1
3,155,2018-11-01 08:20:10.9320,2018-11-01 08:22:46.7050,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29222,Subscriber,1975,2
4,82,2018-11-01 08:35:02.7850,2018-11-01 08:36:25.1840,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29678,Subscriber,1975,1

In [9]:
df_8= pd.read_csv('smallersample/JC-201810-citibike-tripdata.csv')
df_8.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,152,2018-10-01 07:44:41.4170,2018-10-01 07:47:14.2960,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,15302,Subscriber,1971,2
1,122,2018-10-01 08:50:05.4340,2018-10-01 08:52:08.2250,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29654,Subscriber,1973,1
2,211,2018-10-01 09:03:17.0640,2018-10-01 09:06:48.0940,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,33621,Subscriber,1958,1
3,342,2018-10-01 10:13:07.0090,2018-10-01 10:18:49.8960,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,26266,Subscriber,1982,1
4,2976,2018-10-01 10:45:14.2800,2018-10-01 11:34:51.2610,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,27083,Customer,1969,0

In [10]:
df_9= pd.read_csv('smallersample/JC-201809-citibike-tripdata.csv')
df_9.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,284,2018-09-01 01:48:22.0320,2018-09-01 01:53:06.9130,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26303,Subscriber,1984,1
1,370,2018-09-01 01:48:22.5010,2018-09-01 01:54:32.9270,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29667,Subscriber,1984,1
2,1181,2018-09-01 09:37:04.3070,2018-09-01 09:56:45.3280,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26307,Customer,1994,1
3,383,2018-09-01 09:44:46.0030,2018-09-01 09:51:09.9230,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,29261,Subscriber,1987,1
4,377,2018-09-01 09:44:46.1850,2018-09-01 09:51:03.6330,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,33665,Subscriber,1985,1

In [11]:
df_10= pd.read_csv('smallersample/JC-201808-citibike-tripdata.csv')
df_10.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [12]:
df_11= pd.read_csv('smallersample/JC-201807-citibike-tripdata.csv')
df_11.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1234,2018-07-01 02:08:39.8920,2018-07-01 02:29:14.4890,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26306,Customer,1969,0
1,1041,2018-07-01 02:09:07.5180,2018-07-01 02:26:28.8720,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29204,Customer,1969,0
2,2308,2018-07-01 02:14:45.7400,2018-07-01 02:53:14.5970,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26234,Customer,1969,0
3,767,2018-07-01 02:25:12.4020,2018-07-01 02:38:00.0510,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,26238,Subscriber,1992,1
4,151,2018-07-01 04:07:44.0520,2018-07-01 04:10:15.8010,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29204,Subscriber,1972,1

In [13]:
df_12= pd.read_csv('smallersample/JC-201806-citibike-tripdata.csv')
df_12.head()   #check it

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [14]:
bike_last12mos = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12])
bike_last12mos

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,2019-05-01 00:07:36.4670,2019-05-01 00:12:47.6350,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,2019-05-01 00:08:29.2840,2019-05-01 00:17:27.9410,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,2019-05-01 00:39:36.4750,2019-05-01 00:42:34.9640,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,2019-05-01 01:24:28.0220,2019-05-01 01:29:45.5730,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,2019-05-01 01:54:39.6660,2019-05-01 02:00:34.1750,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2
5,357,2019-05-01 01:54:43.6300,2019-05-01 02:00:41.0210,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,29541,Customer,1986,1
6,138,2019-05-01 02:25:04.8320,2019-05-01 02:27:23.0580,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29280,Subscriber,1979,1
7,299,2019-05-01 03:50:09.1180,2019-05-01 03:55:08.8850,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,29479,Subscriber,1987,1
8,296,2019-05-01 04:44:27.7800,2019-05-01 04:49:24.4570,3203,Hamilton Park,40.727596,-74.044247,3202,Newport PATH,40.727224,-74.033759,29554,Subscriber,1967,1
9,811,2019-05-01 04:55:48.9470,2019-05-01 05:09:20.2810,3207,Oakland Ave,40.737604,-74.052478,3185,City Hall,40.717733,-74.043845,29666,Subscriber,1984,2
10,293,2019-05-01 05:06:54.6420,2019-05-01 05:11:48.0680,3272,Jersey & 3rd,40.723332,-74.045953,3638,Washington St,40.724294,-74.035483,29674,Subscriber,1964,1
11,287,2019-05-01 05:15:41.5460,2019-05-01 05:20:29.0360,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29449,Subscriber,1973,2
12,268,2019-05-01 05:22:29.3550,2019-05-01 05:26:57.7180,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,29449,Subscriber,1990,1
13,234,2019-05-01 05:23:58.9310,2019-05-01 05:27:53.2280,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,29614,Subscriber,1985,1
14,156,2019-05-01 05:27:32.1140,2019-05-01 05:30:08.4270,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,26162,Subscriber,1976,1
15,191,2019-05-01 05:37:13.8920,2019-05-01 05:40:25.6140,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,29577,Subscriber,1979,2
16,166,2019-05-01 05:41:10.7490,2019-05-01 05:43:57.6730,3267,Morris Canal,40.712419,-74.038526,3183,Exchange Place,40.716247,-74.033459,29550,Subscriber,1994,2
17,292,2019-05-01 05:42:31.6720,2019-05-01 05:47:24.1310,3677,Glenwood Ave,40.727551,-74.071061,3195,Sip Ave,40.730897,-74.063913,29668,Subscriber,1974,1
18,390,2019-05-01 05:45:03.7860,2019-05-01 05:51:34.5880,3209,Brunswick St,40.724176,-74.050656,3639,Harborside,40.719252,-74.034234,29297,Subscriber,1987,2
19,235,2019-05-01 05:51:16.2570,2019-05-01 05:55:11.4400,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,26200,Subscriber,1987,1
20,253,2019-05-01 05:53:33.2840,2019-05-01 05:57:46.5540,3214,Essex Light Rail,40.712774,-74.036486,3275,Columbus Drive,40.718355,-74.038914,29299,Subscriber,1983,2
21,358,2019-05-01 05:54:08.4790,2019-05-01 06:00:07.0700,3225,Baldwin at Montgomery,40.723659,-74.064194,3195,Sip Ave,40.730897,-74.063913,29612,Subscriber,1962,1
22,305,2019-05-01 05:57:32.5340,2019-05-01 06:02:38.1330,3203,Hamilton Park,40.727596,-74.044247,3639,Harborside,40.719252,-74.034234,29534,Subscriber,1964,1
23,220,2019-05-01 06:01:06.2950,2019-05-01 06:04:46.3050,3269,Brunswick & 6th,40.726012,-74.050389,3186,Grove St PATH,40.719586,-74.043117,26307,Subscriber,1989,2
24,287,2019-05-01 06:01:18.8850,2019-05-01 06:06:06.3640,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,26214,Subscriber,1967,1
25,188,2019-05-01 06:02:41.7050,2019-05-01 06:05:49.7330,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,29653,Subscriber,1976,1
26,124,2019-05-01 06:06:07.6050,2019-05-01 06:08:11.9590,3279,Dixon Mills,40.721630,-74.049968,3186,Grove St PATH,40.719586,-74.043117,28771,Subscriber,1982,1
27,193,2019-05-01 06:07:23.8650,2019-05-01 06:10:37.1990,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,29662,Subscriber,1992,1
28,83,2019-05-01 06:07:58.3730,2019-05-01 06:09:21.5580,3639,Harborside,40.719252,-74.034234,3183,Exchange Place,40.716247,-74.033459,29534,Subscriber,1988,1
29,248,2019-05-01 06:08:16.3530,2019-05-01 06:12:25.0170,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,29245,Subscriber,1981,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40907,343,2018-06-29 07:49:19.4570,2018-06-29 07:55:02.5000,3681,Grand St,40.715178,-74.037683,3186,Grove St PATH,40.719586,-74.043117,29670,Subscriber,1985,1
40908,202,2018-06-29 07:49:56.2730,2018-06-29 07:53:18.7030,3681,Grand St,40.715178,-74.037683,3186,Grove St PATH,40.719586,-74.043117,29511,Subscriber,1990,1
40909,748,2018-06-29 08:08:25.3050,2018-06-29 08:20:53.3330,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,-74.066611,29219,Subscriber,1986,2
40910,189,2018-06-29 08:34:57.8230,2018-06-29 08:38:07.0640,3681,Grand St,40.715178,-74.037683,3183,Exchange Place,40.716247,-74.033459,26169,Subscriber,1980,1
40911,438,2018-06-29 09:06:38.3930,2018-06-29 09:13:57.0800,3681,Grand St,40.715178,-74.037683,3202,Newport PATH,40.727224,-74.033759,29659,Subscriber,1978,1
40912,486,2018-06-29 09:51:43.1130,2018-06-29 09:59:49.7650,3681,Grand St,40.715178,-74.037683,3202,Newport PATH,40.727224,-74.033759,29228,Subscriber,1994,1
40913,264,2018-06-29 10:59:24.0650,2018-06-29 11:03:48.7140,3681,Grand St,40.715178,-74.037683,3186,Grove St PATH,40.719586,-74.043117,33612,Subscriber,1981,1
40914,566,2018-06-29 11:22:35.0540,2018-06-29 11:32:01.4370,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,29252,Subscriber,1977,1
40915,765,2018-06-29 11:49:51.7100,2018-06-29 12:02:37.2970,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,33612,Subscriber,1987,2
40916,191,2018-06-29 15:27:13.9140,2018-06-29 15:30:25.6410,3681,Grand St,40.715178,-74.037683,3183,Exchange Place,40.716247,-74.033459,29264,Subscriber,1979,2
40917,409,2018-06-29 15:38:32.8710,2018-06-29 15:45:22.8430,3681,Grand St,40.715178,-74.037683,3278,Monmouth and 6th,40.725685,-74.048790,33659,Subscriber,1978,1
40918,223,2018-06-29 15:40:47.3430,2018-06-29 15:44:30.3500,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,26271,Subscriber,1994,1
40919,320,2018-06-30 12:34:34.8550,2018-06-30 12:39:55.2430,3681,Grand St,40.715178,-74.037683,3186,Grove St PATH,40.719586,-74.043117,29213,Subscriber,1993,1
40920,243,2018-06-30 12:44:51.8090,2018-06-30 12:48:55.0030,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29682,Subscriber,1956,1
40921,477,2018-06-30 13:08:47.9130,2018-06-30 13:16:44.9150,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,33675,Subscriber,1964,2
40922,448,2018-06-30 13:09:26.8080,2018-06-30 13:16:55.0110,3681,Grand St,40.715178,-74.037683,3185,City Hall,40.717733,-74.043845,29493,Subscriber,1978,2
40923,2343,2018-06-30 14:27:00.9380,2018-06-30 15:06:04.4430,3681,Grand St,40.715178,-74.037683,3183,Exchange Place,40.716247,-74.033459,29635,Subscriber,1993,1
40924,119,2018-06-30 14:51:08.8070,2018-06-30 14:53:08.2990,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,26159,Subscriber,1984,1
40925,524,2018-06-30 15:51:43.9340,2018-06-30 16:00:27.9350,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26271,Subscriber,1968,2
40926,1890,2018-06-30 16:16:25.4540,2018-06-30 16:47:55.6930,3681,Grand St,40.715178,-74.037683,3681,Grand St,40.715178,-74.037683,29482,Subscriber,1971,1
40927,201,2018-06-30 16:40:38.1400,2018-06-30 16:43:59.5230,3681,Grand St,40.715178,-74.037683,3275,Columbus Drive,40.718355,-74.038914,29207,Subscriber,1982,1
40928,1014,2018-06-30 19:29:09.6930,2018-06-30 19:46:03.9510,3681,Grand St,40.715178,-74.037683,3214,Essex Light Rail,40.712774,-74.036486,33557,Subscriber,1983,1
40929,537,2018-06-30 19:51:36.7250,2018-06-30 20:00:34.4620,3681,Grand St,40.715178,-74.037683,3202,Newport PATH,40.727224,-74.033759,26225,Subscriber,1982,1
40930,459,2018-06-30 19:52:37.6190,2018-06-30 20:00:17.2280,3681,Grand St,40.715178,-74.037683,3202,Newport PATH,40.727224,-74.033759,29201,Subscriber,1982,1
40931,1228,2018-06-30 20:46:53.7380,2018-06-30 21:07:22.3700,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,33625,Customer,1969,0
40932,1227,2018-06-30 20:46:55.7500,2018-06-30 21:07:22.9730,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,29197,Subscriber,1979,2
40933,1219,2018-06-30 20:47:02.7610,2018-06-30 21:07:22.1720,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,33633,Customer,1969,0
40934,1227,2018-06-30 20:47:03.1250,2018-06-30 21:07:30.3560,3681,Grand St,40.715178,-74.037683,3209,Brunswick St,40.724176,-74.050656,26297,Subscriber,1987,2
40935,252,2018-06-30 21:13:35.6890,2018-06-30 21:17:48.5690,3681,Grand St,40.715178,-74.037683,3267,Morris Canal,40.712419,-74.038526,29482,Subscriber,1979,2
40936,652,2018-06-30 22:03:44.8150,2018-06-30 22:14:37.5310,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,-74.032108,29235,Subscriber,1982,1

In [15]:
#make one big csv for tableau analysis
bike_last12mos.to_csv('bike_JCSet_last12mos.csv', sep = ',')